@import "_config.scss";

header{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  background: $white;
  color: $black;
  border-bottom: 1px solid grey;

  .logo{
    position: absolute;
    top: 50%; left: 15px;
    @include translateY(-50%);

    a{
      font-size: 40px;
      font-weight: 800;
    }
  }

  nav,
  nav ul,
  nav ul li{
    margin: 0;
    padding: 0;
  }

  nav{
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

  }

    ul li{
      list-style: none;
      display: inline-block;
      margin-right: 25px;
    }

    &.last {
      margin: 0;
    }

      a{
        font-size: 15px;
        line-height: normal;
        margin: 10px;
      }
}

.products{
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;

  .banner{
    width: 100%;
    height: 300px;
    background: $black;
    color: $white;
    margin: 20px;
    max-width: 1000px;
    margin-left: 0;
  }



  .each{
    min-width: 240px;
    width: 24%;
    height: 350px;
    border: solid 1px;
    margin: 5px;
  }

}



footer{

}
